/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
font-size: 20px;
padding: 1em;
background-color: rgb(255, 192, 203);
color: black;
text-decoration: none;
display: flex;
justify-content: space-evenly;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(19, 8, 165);
  text-decoration: underline;
  background-color: pink;
}

.container {
display: flex;
flex-direction: column;
}

.headings {
 background-color: rgb(236, 214, 214);
 padding: 0.2em;
 margin-right: 50%;
 display: flex;
 flex-direction: row;
}


.header {
font-size: 14px;
font-weight: 600;
}

.links {
  color: grey;
}

a:hover {
  color: rgb(19, 8, 165);
  text-decoration: underline;
  background-color:rgb(119, 196, 241);
}